* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #111;
  color: white;
}

/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  background: rgba(0,0,0,0.7);
  transition: 0.3s;
  z-index: 100;
}

.navbar ul {
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 100vh;
  background: url("kelas.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background: rgba(0,0,0,0.6);
  padding: 40px;
  text-align: center;
  border-radius: 10px;
}

.overlay h2 {
  font-size: 45px;
}

.overlay p {
  margin-top: 10px;
}

.overlay button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #38bdf8;
  border: none;
  cursor: pointer;
}

/* SECTION */
section {
  padding: 80px 40px;
  text-align: center;
}

/* GALLERY */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
}

.grid img {
  width: 100%;
  border-radius: 10px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: black;
}
