* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f5f5f5;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;
    background: linear-gradient(to right, #3b82f6, #2563eb);
    color: white;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navbar nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

/* HERO */
.hero {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: 1s;
}

.slide.active {
    opacity: 1;
}

.hero-text {
    position: absolute;
    bottom: 20%;
    left: 10%;
    color: white;
}

.hero-text h1 {
    font-size: 40px;
}

/* EKSTRA */
.ekstra {
    padding: 100px 8%;
    text-align: center;
}

.ekstra h2 {
    font-size: 30px;
}

.sub {
    margin-bottom: 40px;
    color: gray;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card:hover {
    transform: translateY(-10px);
}

.card h3 {
    padding: 15px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: white;
}
