* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: black;
    color: white;
}

/* HERO FULL SCREEN LANDSCAPE */
.hero {
    height: 100vh;
    background: url("https://picsum.photos/1600/900") center/cover no-repeat;
    position: relative;
}

/* DARK OVERLAY */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, black, rgba(0,0,0,0.4));
}

/* CONTENT */
.hero-content {
    position: absolute;
    bottom: 80px;
    left: 60px;
    max-width: 500px;
}

.small {
    font-size: 12px;
    opacity: 0.7;
}

.netflix {
    color: red;
    margin-bottom: 10px;
}

/* TITLE */
.hero-content h1 {
    font-size: 60px;
    font-weight: bold;
    margin: 10px 0;
}

.sub {
    letter-spacing: 3px;
    font-size: 14px;
    margin-bottom: 20px;
}

/* BUTTON */
.buttons button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.play {
    background: white;
    color: black;
}

.info {
    background: rgba(255,255,255,0.3);
    color: white;
}
